@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

.busca {
	display: flex;
	position: absolute;
}

.busca input {
	border-radius: 8px;
	border: 1px solid #374952;
	background-color: #f7f7f7;
	color: #4c4c4c;
	padding: 1em 1em 1em 0.9em;
	min-width: 30em;
}

.busca button {
	padding: 1em;
	color: white;
	background-color: #374952;
	border-radius: 8px;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	right: 3em;
}

.busca button img {
	padding-right: 0.5em;
}
