li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.headerTableClientes {
	background-color: #9dbbc3;
	color: white;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
	margin: 0 3em;
	padding: 1em;
	border-radius: 8px;
}

.bodyTableClientes {
	background-color: #ffffff;
	color: #4c4c4c;
	margin: 2em 3em;
	padding: 1em;
	border-radius: 8px;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.bodyTableClientes > * {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dadosCliente {
	display: flex;
	flex-direction: column;
}

.buttonTable {
	background-color: transparent;
	border: none;
}

.adimplente {
	color: #4ec06e;
	font-weight: 600;
}

.inadimplente {
	color: #ff4d4d;
	font-weight: 600;
}
