@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.telaCadastro {
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
}

.cadastro {
	padding: 3em 2em;
	background-color: white;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 2em;
}

input {
	background-color: transparent;
	font-family: "Montserrat", sans-serif;
	border: none;
	border-bottom: 1px solid #4c4c4c;
}

.botao {
	display: flex;
	justify-content: center;
}

.submit {
	color: white;
	background-color: rgba(218, 1, 117, 0.35);
	border-radius: 20px;
	border: none;
	font-family: "Montserrat", sans-serif;
}

.submit:hover,
.submit:focus {
	background-color: #da0175;
}

.logar {
	margin-top: 2em;
	font-size: 1.3ch;
}

.logar u {
	color: #da0175;
	font-size: 1.3ch;
}
